<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.practice.dao.UserMapper">
    
    <insert id="add" parameterType="User">
        insert into user (username,password,name,phone,addr)
        values (#{username},#{password},#{name },#{phone},#{addr})
    </insert>
    
    <select id="list" parameterType="string" resultType="com.practice.domain.User">
        select * from user where  username like concat('%',#{username},'%')
    </select>
    <select id="findById" parameterType="int" resultType="User">
        select *
        from user where id=#{id}
    </select>
    
    <update id="update" parameterType="User">
        update user
        set  username=#{username},password=#{password} ,name=#{name },phone=#{phone},addr=#{addr}
        where id=#{id}
    </update>
    
    <delete id="del" parameterType="int">
        delete from user where id=#{id}
    </delete>
</mapper>